extends ../layout

block content
	h1 Users
	
	p
		a(href="/users/new") Create new profile
	ul
		- for(var username in users) {
			li
				a(href="/users/" + encodeURIComponent(users[username].username))= users[username].fullName
		- };
		
		- if (page > 0) {
			a(href="?page=" + (page - 1)) Previous
			&nbsp;
		- }
		
		- if (!lastPage) {
			a(href="?page=" + (page + 1)) Next
		- }