extends ../layout

block content
	h1 Users
	
	p
		a(href="/users/new") Create new profile
		
	p
		a(href="/articles") Articles
		
	ul
		- users.forEach(function(user) {
			li
				a(href="/users/" + encodeURIComponent(user.username))= user.fullName
		- });
		
		- if (page > 0) {
			a(href="?page=" + (page - 1)) Previous
			&nbsp;
		- }
		
		- if (!lastPage) {
			a(href="?page=" + (page + 1)) Next
		- }